---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>BetterPonymotes for Safari</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %} 
		<main>
			<div class="content-wrap">
                <div class="centering">
                    <h1>Cursed-Breakout</h1>
                    <br>
                    <video autoplay loop webkit-playsinline class="autoScaleImage" style="box-shadow: 0 10px 30px;">
                        <source src="Breakout.mp4" type="video/mp4">
                        Pretend there's a video here, or upgrade to a modern browser.
                    </video>
                    <br>
                    <a href="https://github.com/Carson-Shook/cursed-breakout/archive/1.0.1.zip" download><span class="button">Download zip</span></a>
                    <a href="https://github.com/Carson-Shook/cursed-breakout/archive/1.0.1.tar.gz" download><span class="button">Download tar.gz</span></a>
                    <br>
                    <p>All of the joys of the classic game <i>Breakout</i> can now be found in your terminal window! Cursed-Breakout was the first project that I felt was worthy of publishing on GitHub, and I hope that you enjoy it. Cursed-Breakout uses the ncurses library for terminal drawing and handling keyboard input.</p>
                    
                    <p>After downloading and decompressing the project, use your terminal to navigate to the directory, and enter <code>make</code> into the prompt. You will need gcc or clang to build in this fashion, and if neither of those are available to you, then you probably already know what you're doing, so why are you even reading this?</p>
                    
                    <p>View and download the source on <a href="https://github.com/Carson-Shook/cursed-breakout">GitHub</a>.</p>
                    <table class="versionInfo">
                        <tr>
                            <th>Version</th>
                        </tr>
                        <tr>
                            <td>1.0.1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>