---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>BetterPonymotes for Safari</title>
        {% include head.html %}
        <link rel="stylesheet" href="breakoutstyle.css">
    </head>
    <body id="projects">
		{% include navigation.html %} 
		<main>
			<div class="content-wrap">
                <div class="centering">
                    <h1>Cursed-Breakout</h1>
                    <br>
                    <video autoplay loop>
                        <source src="Breakout.mp4" type="video/mp4">
                        Pretend there's a video here, or upgrade to a modern browser.
                    </video>
                    <br>
                    <br>
                    <h2><a href="https://github.com/Carson-Shook/cursed-breakout/archive/1.0.1.zip" download>Download Zip</a>          <a href="https://github.com/Carson-Shook/cursed-breakout/archive/1.0.1.tar.gz" download>Download tar.gz</a></h2>
                    <br>
                    <p>Makefile.</p>
                    <p>View and download the source on <a href="https://github.com/Carson-Shook/cursed-breakout">GitHub</a>.</p>
                    <table class="versionInfo">
                        <tr>
                            <th>Version</th>
                        </tr>
                        <tr>
                            <td>1.0.1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>