<nav>
	<a href="/" id="title">CARSON SHOOK</a><!--
	--><a href="/blog/" class="navigation" id="blog">Blog</a><!--
    --><span class="dropDownContainer"><!--
        --><a href="/projects/" class="navigation" id="projects">Projects</a><!--
        --><div class="dropDownMenu"><!--
            --><div class="dropDownItem"><!--
                --><a href="/BetterPonymotes-for-Safari/">BetterPonyMotes for Safari</a><!--
            --></div><!--
            --><div class="dropDownItem"><!--
                --><a href="/cursed-breakout">Cursed-Breakout</a><!--
            --></div><!--
        --></div><!--
    --></span><!--
    --><a href="/about/" class="navigation" id="about">About</a>
</nav>